
  <app-menu></app-menu> 
  <div>
    <div style="width: 200px; display: inline-block;">

    </div>
    <div style="display: inline-block;">
      <router-outlet></router-outlet>
    </div>
  </div>

 
  
<!--<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>User name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.Firstname }} {{ user.Lastname }}</td>
        <td>{{ user.Username }}</td>
      </tr>
    </tbody>
  </table>
</div>!-->
